<section class="about" id="about">
  <app-fade-in class="about__decor about__decor--moon" [delay]="0.1" [x]="-80" [y]="0" [duration]="0.9">
    <img [src]="decor.moon" alt="" />
  </app-fade-in>
  <app-fade-in class="about__decor about__decor--object" [delay]="0.25" [x]="-80" [y]="0" [duration]="0.9">
    <img [src]="decor.object" alt="" />
  </app-fade-in>
  <app-fade-in class="about__decor about__decor--lego" [delay]="0.15" [x]="80" [y]="0" [duration]="0.9">
    <img [src]="decor.lego" alt="" />
  </app-fade-in>
  <app-fade-in class="about__decor about__decor--group" [delay]="0.3" [x]="80" [y]="0" [duration]="0.9">
    <img [src]="decor.group" alt="" />
  </app-fade-in>

  <div class="about__copy">
    <app-fade-in [delay]="0" [y]="40">
      <h2 class="hero-heading about__heading">About me</h2>
    </app-fade-in>
    <app-animated-text [text]="copy" />
  </div>

  <div class="about__cta" id="contact">
    <app-contact-button href="#contact" />
  </div>
</section>
